@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
#head1{
  d: path("M111.17 35.21c1.23.36 2.55-.32 2.93-1.54c3.24-10.35-.96-21.61-11.12-26.84c-10.23-5.27-21.34-1.81-27.81 7.02c-.73.99-.56 2.38.36 3.19c2.09 1.85 6.73 5.33 15.98 10.01c9.77 4.94 16.47 7.22 19.66 8.16z");
}
#head2{
  d: path("M16.83 35.21c-1.23.36-2.55-.32-2.93-1.54c-3.24-10.35.96-21.61 11.12-26.84c10.23-5.27 21.34-1.81 27.81 7.02c.73.99.56 2.38-.36 3.19c-2.09 1.85-6.73 5.33-15.98 10.01c-9.77 4.94-16.47 7.22-19.66 8.16z");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(183, 58, 58), rgb(202, 152, 34));
}
.status{
  height: 100px;
  width: 600px;
  border-radius: 20px;
  background-color: aliceblue;
  margin-bottom: 30px;
  z-index: 20;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.alarm{
  background-color: #dad9a2;
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px ;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2);
}
#alarmsym{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  height: 510px;
  width: 500px;
  border-radius: 20px ;
}
h1{
  font-size: 55px;
  color:#7d30f0;
}
.time > select{
  height: 40px;
  width:110px;
  margin: 10px;
  border-radius: 7px;
  padding: 5px;
  font-size: 20px;
  /* border: none; */
}
button{
  margin-top: 10px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #30f0c3;
  border: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1),
              1px 0 2px 1px rgba(0, 0, 0, 0.1);
}
button:active{
  background-color: #3be5bd;
  box-shadow: none; 
}
select {
  direction: ltr;
}

select:focus {
  overflow: visible;
}
.disable{
  opacity: 0.8;
  pointer-events: none;
}